.homeLabel {
  font-size: 20px;
}

.FilterBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
}

select,
input {
  padding: 0.8rem;
  border-radius: 15px;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}
